<div class="col-xs-12 col-sm-offset-2 col-md-offset-2 col-sm-8 col-lg-offset-2 col-lg-8">

  <% if @qualification.persisted? && @qualification.skill_rating %>
    <h1 class='text-center'>Matches in <%= @season.name %></h1>

    <%= render 'jumbotron' %>

    <%= render 'matches' %>
  <% else %>
    <%= render 'non_qualified' %>
  <% end %>
</div>
