.win {
  background-color: #72FF61;
}

.lose {
  background-color: #FF7070;
}

.draw {
  background-color: #dcdcdc;
}

#matches {
  td {
    border: 1px solid black;
  }

  th, tr, thead {
    border: none;
    text-align: center;
  }
}

.game-number {
  width: 10px;
}
