body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Gentium Basic', serif;
  font-weight: bolder;
}

td.table-legend {
  text-align: left;
  font-weight: bolder;
}

td.value, th.value {
  text-align: right;
}

.win {
  background-color: #72FF61;
}

.lose {
  background-color: #FF7070;
}

.draw {
  background-color: #dcdcdc;
}

#matches {
  td {
    border: 1px solid black;
  }

  th, tr, thead {
    border: none;
    text-align: center;
  }
}

.game-number {
  width: 10px;
}

.skill-rating a {
  color: black;
}

footer {
  margin-top: 100px;
}

.green_90 {
  background-color: #72ff61;
}

.green_80 {
  background-color: #87ff78;
}

.green_70 {
  background-color: #9bff8f;
}

.green_60 {
  background-color: #afffa5;
}

.green_50 {
  background-color: #c3ffbc;
}

.green_40 {
  background-color: #afffa5;
}

.green_30 {
  background-color: #c3ffbc;
}

.green_20 {
  background-color: #d7ffd2;
}

.green_10 {
  background-color: #ebffe9;
}

.red_90 {
  background-color: #ff7070;
}

.red_80 {
  background-color: #ff7f7f;
}

.red_70 {
  background-color: #ff8f8f;
}

.red_60 {
  background-color: #ff9f9f;
}

.red_50 {
  background-color: #ffafaf;
}

.red_40 {
  background-color: #ffbfbf;
}

.red_30 {
  background-color: #ffcfcf;
}

.red_20 {
  background-color: #ffdfdf;
}

.red_10 {
  background-color: #ffefef;
}

.red_0 {
  background-color: #ffafaf;
}

.table th, .table td {
  padding: 4px!important;
}

.actions {
  width: 60px;
}
